.header {
  display: flex;
  padding: 0 3rem;
  height: 4.375rem;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-between;
}

.header .title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
  font-family: "Roboto", sans-serif;
}

.App {
  background: linear-gradient(to right, #4cb8fd 0%, #dfbde9 100%);
  min-height: 100vh;
  padding-top: 122px;
}

.content {
  width: 26%;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 15px 19px 15px;

  border-radius: 15px;
}

.content h1 {
  text-align: center;
  margin: 0;
}

.user-form {
  height: 60px;

  margin-top: 31px;

  display: flex;
  align-items: center;
  position: relative;

  border-radius: 5px;

  box-shadow: 0px 3px 8px rgba(54, 54, 54, 0.25);
}

.user-form span {
  position: absolute;
  top: 50%;
  left: 78%;
  transform: translateY(-50%);
  cursor: pointer;
}
.user-form input {
  border: none;
  outline: none;
  width: calc((350 / 415 -4) * 100%);
  height: 56px;

  padding-left: 11px;

  color: rgba(206, 206, 206, 0.76);

  border-radius: inherit;

  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
.user-form button {
  width: 15%;
  height: 90%;
  background: transparent;
  cursor: pointer;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;

  border: none;

  color: #ffffff;
}

.pallette {
  display: flex;
  justify-content: space-evenly;
  gap: 0.75rem;

  position: absolute;
  top: 80%;
  left: 42.75%;

  min-height: 60px;

  width: 274px;
  padding: 0.625rem;

  border-radius: 7px;
  flex-wrap: wrap;
  z-index: 999;
  background-color: white;
}

.pallette span {
  position: absolute;
  background-color: white;
  width: 0.7rem;
  height: 0.75rem;
  transform: rotate(45deg);
  left: 50%;
  top: -5%;
}

.pallette div {
  width: 14.66px;
  height: 14.66px;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tasks-list {
  margin-top: 3rem;
}

.task-content {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 0.75rem;
  font-size: 1.5rem;
  border-radius: 5px;
  margin-top: 1rem;
  color: white;
  position: relative;
}
.task-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #ffffff;
}

.delete {
  cursor: pointer;
}

.edit {
  cursor: pointer;
  margin-right: 1.2rem;
}

.edit-input {
  width: 80%;
  height: 90%;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  outline: none;
  color: white;
}

.update-btn {
  height: 3rem;
  width: 5.5rem;
  background-color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
}

.edit-pallete {
  display: flex;
  margin-right: 1rem;
  align-self: center;
  cursor: pointer;
}

.edt {
  transform: translateX(3.2%);
}

.ticked {
  position: absolute;
}
